<% if signed_in? %>
<div class="alert alert-info">Benvenuto <strong><%= @student.nome %> <%= @student.cognome %></strong></div>

<%= link_to "Logout", logout_url,  class: "btn btn-primary" %>
<% else %>
<%= link_to "Login", new_session_path, class: "btn btn-primary" %>
<% end %>