<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
 
<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Torna indietro', students_path %>