
<div class="row">

	<div class="col-md-10 col-md-offset-1">

		<div id="loginbox" class="mainbox">  

			<div class="panel panel-info" >
				<div class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b; align-text:center">
					<div class="panel-title">Info</strong></div>
				</div>

				<div  class="col-md-10 col-md-offset-1" style="color:#000000; border-color: #04779b; text-align:center; margin-top:10px; margin-bottom:40px;">
					<span style="font-size:26px;">Universita degli studi di Catania</span><br>
					<span style="font-size:18px;">Corso di Laurea Magistrale in Informatica</span><br>
					<span style="font-size:16px;">Sistemi distribuiti A.A. 2014/15</span><br>
				</div>

				<div class="row">

					<div class="col-md-5 col-md-offset-1">    

					<table class="table table-user-information" align="center">
						<tbody>
							<tr>
								<td><strong>Nome</strong></td>
								<td>Danilo</td>
							</tr>
							<tr>
								<td><strong>Cognome</strong></td>
								<td>Cantarella</td>
							</tr>
							<tr>
								<td><strong>Web page</strong></td>
								<td><a href="http://cantarelladanilo.com" target="_blank">cantarelladanilo.com</a></td>
							</tr>
							<tr>
								<td><strong>Email</strong></td>
								<td><a href="mailto:cantarella.danilo@gmail.com">cantarella.danilo@gmail.com</a></td>
							</tr>
						</tbody>
					</table>
					</div>


					<div class="col-md-5" style=c>    

						<table class="table table-user-information" align="center">
						<tbody>
							<tr>
								<td><strong>Nome</strong></td>
								<td>Sebastiano</td>
							</tr>
							<tr>
								<td><strong>Cognome</strong></td>
								<td>Siragusa</td>
							</tr>
							<tr>
								<td><strong>Web page</strong></td>
								<td><a href="http://sebastianosiragusa.altervista.org" target="_blank">sebastianosiragusa.algtervista.org</a></td>
							</tr>
							<tr>
								<td><strong>Email</strong></td>
								<td><a href="mailto:seby.siragusa@gmail.com">seby.siragusa@gmail.com</a></td>
							</tr>
						</tbody>
					</table>
					</div>


				</div>                     
			</div>  
		</div>

	</div>

</div>